<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<filter>
		<filter-name>MemcacheFilter</filter-name>
		<filter-class>com.shrineoflostsecrets.filter.MemcacheFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>MemcacheFilter</filter-name>
		<url-pattern>/tags.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Tags</servlet-name>
		<jsp-file>/tags.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>AiPlugin</servlet-name>
		<jsp-file>/ai/ai-plugin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tags</servlet-name>
		<url-pattern>/tags.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>AiPlugin</servlet-name>
    	<url-pattern>/.well-known/ai-plugin.json</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Add an error page for handling uncaught exceptions -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
</web-app>